body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-section {
    min-height: calc(100vh - 76px);
    display: flex;
    align-items: center;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.home-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-content {
    flex: 1;
    overflow: hidden;
}